<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyw.ljtds">
    <!-- 极光推送Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 极光推送-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--在window弹出对话框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--调用设置 -->
    <uses-permission android:name="android.launcher.permission.WRITE_SETTING" />
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--  读写内存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- NFC -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 银联支付所需 -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.home.ActivitySplash"
            android:screenOrientation="portrait"
            android:singleUser="true"
            android:theme="@style/ThemeSplash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">


        </activity>

        <activity
            android:name=".ui.base.CustomErrorActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".ui.home.ActivityGuide" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Login"> -->


        <!-- </activity> -->
        <activity
            android:name=".ui.base.ActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />

        <!--<activity
            android:name="com.tencent.mm.plugin.base.stub.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />-->

        <!-- 登陆注册 -->
        <activity
            android:name=".ui.user.ActivityRegist"
            android:screenOrientation="portrait"
            android:theme="@style/Login">

        </activity>


        <activity
            android:name=".ui.user.ActivityRegist1"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.user.ActivityLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <!-- 首页 -->
        <activity
            android:name=".ui.home.ActivitySearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.ActivityScan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.ActivityHomeWeb"
            android:screenOrientation="portrait" />

        <!-- 医药馆 -->
        <activity
            android:name=".ui.find.ActivityMapLocation"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".ui.find.RoutePlanDemo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.find.ActivityBody"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.find.ActivityFindCategort"
            android:screenOrientation="portrait" />

        <!-- 商品 -->
        <activity
            android:name=".ui.goods.ActivityMedicinesInfo"
            android:label="药品详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".ui.goods.ActivityLifeGoodsInfo"
            android:label="商品详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".ui.goods.ActivityGoodsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goods.ActivityMedicineList"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.goods.ActivityGoodsSubmit"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name=".ui.goods.ActivityGoodsSubmitBill"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.goods.ActivityGoodsSubmitChoice"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.goods.ActivityGoodsImages"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />

        <!-- 订单 -->
        <activity
            android:name=".ui.user.order.ActivityOrder"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!-- 物流轨迹 -->
        <activity
            android:name=".ui.user.order.LogisticTraceActivity"
            android:label="物流轨迹"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".ui.user.order.ActivityOrderInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.user.order.ActivityEvaluate"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.user.order.ActivityAfterMarket"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.user.order.ActivityLogistics"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />

        <!-- 账户管理 -->
        <activity
            android:name=".ui.user.manage.ActivityManage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.manage.ActivityInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.address.AddressActivity"
            android:label="收货地址"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.user.address.AddressSelActivity"
            android:label="选择地址"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.user.address.AddressMapActivity"
            android:label="选择地址"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.user.address.ActivityAddressEdit"
            android:screenOrientation="portrait"
            android:theme="@style/Login"></activity>
        <activity
            android:name=".ui.user.address.AddressSearchActivity"
            android:label="搜索地址"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.address.ActivityProvince"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.user.address.ActivityCity"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.user.manage.ActivityRealName"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.user.manage.ActivityUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.manage.ActivitySecurity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.manage.ActivityAmendPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.user.manage.ActivityAmendPassword1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.user.manage.ActivityBigImage"
            android:screenOrientation="portrait" />

        <!-- 我的 -->
        <activity
            android:name=".ui.user.ActivityCollect"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.user.ActivityRanking"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.user.ActivityFavorite"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".ui.user.ActivityWallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.ActivityMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.manage.QrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.help.ActivityHelp"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />


        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="e60050ac68" />
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="ljtweb" />
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="false" />
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>
        <!-- 亚威 <meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--an解决droid:value="lTBfXPufsGg7iEZw0jGgxD8X988wCUO3" />-->
        <!--<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Ku3LeijW9Pm8GbbrW50W7GNI4TCDFNew" />-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lTBfXPufsGg7iEZw0jGgxD8X988wCUO3" />
        <!-- 银联支付所需 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustResize" />

        <!-- 支付宝所需 -->
        <activity
            android:name="com.alipay.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 小能所需 -->
        <activity
            android:name="cn.xiaoneng.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.xiaoneng.activity.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name="cn.xiaoneng.activity.ShowCameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTopRight" />
        <activity
            android:name="cn.xiaoneng.activity.ShowAlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.ValuationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/valuationdialog" />
        <activity
            android:name="cn.xiaoneng.activity.ShowPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.XNExplorerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.VideoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="cn.xiaoneng.video.RecordVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="cn.xiaoneng.video.XNVideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <service android:name="cn.xiaoneng.xpush.pushxiaoneng.XPushIMService" />
        <receiver android:name="cn.xiaoneng.xpush.XPushReceiver">
            <intent-filter android:priority="1000">
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTIVITY_CHANGE" />
                <action android:name="cn.jpush.android.intent.USER_PRESENT" />
                <action android:name="cn.jpush.android.intent.BOOT_COMPLETED" />
                <action android:name="cn.jpush.android.intent.STATE_CHANGE" />
                <action android:name="cn.xiaoneng.xpush.service" />
            </intent-filter>
        </receiver>
        <!-- 小能所需 end -->


        <activity
            android:name=".ui.user.help.WebShowActivity"
            android:label="@string/title_activity_web_show" />
        <activity
            android:name=".ui.user.wallet.BalanceActivity"
            android:label="@string/title_activity_balance" />
        <activity
            android:name=".ui.user.wallet.PointRecordActivity"
            android:label="@string/title_activity_point" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:label="@string/title_activity_cart"
            android:singleUser="true">

        </activity>
        <activity
            android:name=".ui.user.wallet.TicketActivity"
            android:label="@string/title_activity_web_show"></activity>
        <activity
            android:name=".ui.user.wallet.YouHuiQuanActivity"
            android:label="@string/title_activity_web_show"></activity>
        <activity
            android:name=".ui.user.wallet.DianZiBiActivity"
            android:label="@string/title_activity_web_show"></activity>
        <activity
            android:name=".ui.TestActivity"
            android:label="@string/title_activity_test">


        </activity>
        <activity
            android:name=".ui.user.order.ReturnGoodsOrderListActivity"
            android:label="@string/title_return"></activity>

        <activity
            android:name=".ui.goods.ShopActivity"
            android:label="@string/title_activity_test"></activity>
        <activity
            android:name=".ui.goods.LifeShopActivity"
            android:label="@string/title_activity_test"></activity>


        <activity
            android:name=".ui.user.address.ActivityArea"
            android:label="@string/title_activity_test"></activity>

        <activity
            android:name=".ui.home.ChouJiangActivity"
            android:label="@string/title_activity_test"></activity>

        <activity
            android:name=".ui.home.HuoDongActivity"
            android:label="@string/title_activity_xianshiqiang"></activity>

        <activity
            android:name=".ui.user.wallet.ChojiangRecActivity"
            android:label="@string/jiang_jilu"></activity>

        <activity
            android:name=".ui.user.wallet.DaiJinQuanListActivity"
            android:label="@string/wallet_daijinquan"></activity>

        <activity
            android:name=".ui.user.order.ActivityEvaluateEdit"
            android:label="@string/edit_evaluate"></activity>

        <activity
            android:name=".ui.user.order.ReturnGoodsOrderInfoActivity"
            android:label="@string/edit_evaluate"></activity>


        <!--jiguang========================极光推送需要的组建 begin======================== -->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${applicationId}.DataProvider"
            android:exported="true" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起-->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--jiguang =======================极光推送需要的组建   start=================== -->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receivers.MyJiGuangMsgReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".receivers.MyJiGuangReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--jiguang =======================极光推送需要的组建   end=================== -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                &lt;!&ndash;<data android:scheme="sdksample" />&ndash;&gt;
            </intent-filter>-->
        </activity>

        <receiver
            android:name=".receivers.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>


    </application>

</manifest>